[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
azure-cognitiveservices-speech = "*"
swagger-client = {path = "/home/luiz-braz/Workspace/tmp/python-client"}
requests = "*"

[requires]
python_version = "3.6"
